*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.content{
    width: 100%;
    height: 100vh;
    background: #484d56;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.calculator{
    background: linear-gradient(#011F4B,#1A355D);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #3481ff;

}

.calculator form input{
    border-radius: 11px;
    background: #2965c7;
    box-shadow: inset 5px 5px 10px #1e498f,
            inset -5px -5px 10px #3481ff;
    margin: 5px;       
    border: 0;
    outline: 0;  
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;

}

form .display{
    
   display: flex;
   justify-content: flex-end;
   margin-bottom: 20px ;
   border: 1px solid #3481ff;

}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    background: black;
    box-shadow: none;
    
    
}

form input.equel{
    width: 135px;
    font-size: 25px;
    
}

form input.operator{
    color: #21e8c7;
  
}